<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (prods.length> 0) { %>
                    <h1>My Products (Admin)</h1>
                    <% for (let product of prods) { %>
                        <p>
                            <%= product.title %>
                        </p>
                        <img src=" <%= product.imageUrl %>">
                        <p>
                            <%= product.description %>
                        </p>
                        <p>
                            $ <%= product.price %>
                        </p>
                        <div>
                            <a href="/admin/edit-product/<%=product._id%>?edit=true" class="btn">Edit</a>
                            <form action="/admin/delete-product" method="POST">
                                <input type="hidden" name="productId" value="<%= product._id %>">
                                <button class="btn" type="submit">Delete</button>
                            </form>

                        </div>


                        <% } %>
                            <% } else { %>
                                <h1>Nothing</h1>
                                <% } %>
            </main>
            <%- include('../includes/end.ejs') %>