<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (prods.length> 0) { %>
                    <h1>My Products - Index</h1>
                    <% for (let product of prods) { %>
                        <p>
                            <%= product.title %>
                        </p>
                        <img src=" <%= product.imageUrl %>">
                        <p> $ <%= product.price %>
                        </p>
                        <p>
                            <%= product.description %>
                        </p>
                        <%- include('../includes/add-to-cart.ejs', {product: product} ) %>
                            <% } %>
                                <% } else { %>
                                    <h1>Nothing</h1>
                                    <% } %>
            </main>
            <%- include('../includes/end.ejs') %>